<h1>Editing Project <%= link_to '<i class="material-icons">remove_red_eye</i>'.html_safe, @project, class: 'waves-effect btn-flat tooltipped', 'data-delay': 100, 'data-tooltip': 'Show Project' %> </h1>

<%= render 'form', project: @project %>
