<div class="fixed-margin">
  <h1>Projects</h1>

  <%= search_form_for @q, class: 'row' do |f| %>
    <%= f.search_field :name_or_title_or_venue_or_home_or_first_date_or_tags_name_or_description_cont, class: 'hidden projects-search-field' %>
    <div class="col offset-m4 s9 m3">
      <%= f.select :volume_year_in, Volume.all.collect {|p| [ p.year, p.year ] }.unshift(['Volume','Volume']), { disabled: 'Volume'}, multiple: true, class: 'mat-select' %>
    </div>
    <div class="input-field col s3">
      <button class="btn btn-flat btn-pad waves-effect waves-light" type="submit" name="submit">
        <i class="material-icons">filter_list</i> Filter
      </button>
    </div>
  <% end %>


  <div id="projects-list">
    <%= render 'projects_table' %>
  </div>
</div>
