<div id="admin-container">
	<h1>Admin</h1>

	<ul class="collapsible popout" data-collapsible="accordion">
	  <li>
	    <div class="collapsible-header"><i class="material-icons">list</i>Volumes</div>
	    <div class="collapsible-body"><%= render 'volumes' %></div>
	  </li>
	  <li>
	    <div class="collapsible-header"><i class="material-icons">person</i>Users</div>
	    <div class="collapsible-body"><%= render 'users' %></div>
	  </li>
	  <li>
	    <div class="collapsible-header"><i class="material-icons">assignment</i>Projects</div>
	    <div class="collapsible-body"><%= render 'projects' %></div>
	  </li>
	</ul>
</div>
