<h1>Indexes</h1>
<div class="collection">
	<h4><%= link_to 'Contributors', indexes_contributors_path, class: 'collection-item' %></h4>
	<h4><%= link_to 'Terms', indexes_terms_path, class: 'collection-item' %></h4>
	<h4><%= link_to 'Places', indexes_places_path, class: 'collection-item' %></h4>
</div>
