<h1>Indexes</h1>
<div class="collection">
	<%= link_to '<h4>Contributors</h4>'.html_safe, indexes_contributors_path, class: 'collection-item' %>
	<%= link_to '<h4>Terms</h4>'.html_safe, indexes_terms_path, class: 'collection-item' %>
	<%= link_to '<h4>Places</h4>'.html_safe, indexes_places_path, class: 'collection-item' %>
</div>
