<div class="row fixed-margin">
  <div class="col s12">
    <% @projects.each do |id, pages| %>
      <div id="<%= id %>" class="section scrollspy">
        <h1><%= pages %></h1>
        <div class="progress">
          <div class="indeterminate"></div>
        </div>
      </div>
    <% end %>
  </div>
  
</div>
<script type="text/javascript">
$(function() {

  $('.scrollspy').scrollSpy();

  var scrollSpyEnter = function() {
    var $navElem = $('#scrollspy-nav').find('a[href="#' + $(this).attr('id') + '"]');
    if( $navElem.length ){
      $navElem.addClass('active');
      $('#slide-out').animate({
          scrollTop: $navElem.offset().top - $('#scrollspy-nav').offset().top
      }, 100);
    }

    for(i=0;i < $('.collapsible-nav-item').length; i++){
      $('.collapsible-nav').collapsible('close',i);
    }

    if($(this).find('.progress').length){
      $.ajax({
        url: '/volume/project/'+$(this).attr('id'),
        method: "GET"
      });
    }

  }

  $('.scrollspy').on('scrollSpy:enter', $.debounce(100, scrollSpyEnter) );
  $('.scrollspy').on('scrollSpy:exit', function() {
    $('#scrollspy-nav').find('a[href="#' + $(this).attr('id') + '"]').removeClass('active');
  });

});
</script>
