// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.collection-header{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}
.collection-item{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
}

.input-field-fix{
  padding-top: 1em !important;
}

input[type="checkbox"]:not(:checked):disabled + label:before {
  display: none;
}

.collection-with-overflow{
  overflow: visible;
}

@media #{$medium-and-down} {
  .collapsible-body{
    padding: 1rem;
  }
  .collection-item{
    flex-direction: column;
    align-items: center;
  }

}
@media #{$small-and-down} {

}
