// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#admin-container{
  margin-right: 300px;
}

.collection-header{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}
.collection-item{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

input[type="checkbox"]:not(:checked):disabled + label:before {
  display: none;
}

@media #{$medium-and-down} {
  #admin-container{
    margin-right: 0;
  }
  .collapsible-body{
    padding: 1rem;
  }
}