// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flex-header{
  display:flex;
  justify-content: space-between;
  padding-left: 2em;
  padding-right: 2em;
}

.collection-item.header{
	padding-left: 1.5em;
}
