@import "https://fonts.googleapis.com/icon?family=Material+Icons";

@import "materialize/components/color";
@import "materialize/components/variables";

$primary-color: color("black", "base") !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: color("gray", "base") !default;
$success-color: color("teal", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-gray", "darken-1") !default;

@import 'materialize';


