@import "https://fonts.googleapis.com/icon?family=Material+Icons";



$primary-color: #000 !default;
$primary-color-light: #a1a1a1 !default;
$primary-color-dark: #696969 !default;

$secondary-color: #666 !default;
$success-color: #999 !default;
$error-color: #c00!default;
$link-color: #333 !default;

@import 'materialize';

